body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 70px;
    flex-wrap: wrap;
}

.main {
    background-color: #D3D9DF;
    padding: 80px;
}

.footer {
    background-color: aliceblue;
    min-height: 50px;
}